body {
   background-color: cornsilk;
}

head {
    border: 1px solid blue;
}

#title {
    font-family: cursive;
    font-size: 150%;
    color: orange;
}

h1 {
    color: red;
    font-family: sans-serif;
    font-size: 300%;
}


nav {
   float: right;
   position: sticky;
   top: 0;
   background-color: antiquewhite;
}

nav ul {
   margin: 0;
   padding: 0;
}

nav ul li {
   /*this allows us to arrange list times in a row, without using float */
   display:table-row;
   list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
   color: #aaa;
   background-color: :#FF0;
   display: block;
   line-height: 2em;
   padding: 0.5em 0.5em;
   text-direction: none;
}

Section {
   max-width: 700px;
}
